* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}

button {
  width: 50px;
  height: 30px;
  margin: 0 0.3em;
}

.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn-item {
  margin-left: 15px;
}

.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
}
.menu-items {
  display: flex;
  margin: 20px 0;
}
.menu-info {
  margin-left: 20px;
  width: 100%;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h4 {
  color: #e00a00;
}

.menu-text {
  padding-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
}

.row > * {
  padding: 0;
}

.singleItem__wrapper {
  display: flex;
  width: 49%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.3em 0.3em;
}

.singleItem__left {
  flex: 2;
  height: 170px;
  border: 10px;
}

.singleItem__right {
  flex: 3;
  padding: 1em 1em;
}

.singleItem__rTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.orange {
  color: orangered;
}

.singleItem__left img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
